.header{
    height: var(--header--height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);

}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0px;
    margin: 8px 0 0 0;
    display: flex;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
.header__navbar-user{
    display: flex;
    justify-items: center;
}
.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.2);
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}
.header__navbar-user-menu{
    position: absolute;
    z-index: 1;
    padding-left: 0px;
    top: calc(100% + 6px);
    right: 0;
    width: 160px;
    border-radius: 2px;
    background-color: var(--while--color);
    list-style: none;
    box-shadow: 0 1px 2px #ccc;
    display: none;
}
.header__navbar-user-menu::before {
    content: "";
    border-width: 11px 22px;
    border-style: solid;
    border-color: transparent transparent var(--while--color) transparent;
    position: absolute;
    right: 4px;
    top: -17px;
}
.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    right: 0;
    width: 67%;
    height: 20px;
}
.header__navbar-user-item--separate{
    border-top: 1px solid rgba(0,0,0,0.1); 
}
.header__navbar-user-item a{
    text-decoration: none;
    font-size: 1.4rem;
    padding: 4px 16px;
    display: block;
}
.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-item a:hover{
    background-color: #fafafa;
}


.header__navbar--item-link,
.header__navbar-item{
    font-size: 1.3rem;
    color: var(--while--color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar--item-link,
.header__navbar-item,
.header__navbar-icon-link{
    display: inline-block;
    align-items: center;
}

.header__navbar--item-link:hover,
.header__navbar-item:hover,
.header__navbar-icon-link:hover{
    cursor: pointer;
    color: rgba(255, 255,255, 0.7);
}
.header__navbar-item--strong{
    font-weight: 500;
}
.header__navbar-item--seprace::after{
    content: "";
    position: absolute;
    display: block;
    border-left: 1px solid #000;
    height: 12px;
    right: -9px;
    top: 30%;
    transform: translateY(-50%);
}
.header__navbar-icon-link{
    color: var(--while--color);
    text-decoration: none;
}
.header__navbar-icon-link:nth-child(2){
    margin-left: 3px;
}
.header__navbar-icon{
    font-size: 1.4rem;
    margin: 0 8px;
}
.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--while--color);
}
/* header qr code*/
.header__qr{
    width: 186px;
    background: var(--while--color);
    position: absolute;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    left: 0px;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadein ease-in 0.3s;
}
.header__qr::before{
    position: absolute;
    left: 0px;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}
.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}
.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}
.header__qr-img{
    width: 100%;
}
.header__qr-apps{
    display: flex; 
    justify-content: space-between;  
}
.header__qr-link:nth-child(1){
    margin-left: 11px;
}
.header__qr-link:nth-child(2){
    margin-right: 11px;
}

.header__qr-download-img{
    height: 15px;
}
/* header notify*/
.header__notify{
    position: absolute;
    z-index: 1;
    top: 118%;
    right: 0px;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color:var(--while--color);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headernotifyGrowth ease-in 0.2s ;
    will-change: opacity, transform;
    display: none;
    border-radius: 2px;
}
    /*phần làm mũi tên của phần notify*/
.header__notify::before{
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--while--color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}
.header__notify::after{
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
    
}
@keyframes headernotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header{
    height: 100%;
    background-color: var(--while--color);
}
.header__notify-header h3{
    color: #000;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list{
    padding-left: 0px;
}

.header__notify-item{
    display: flex;
}
.header__notify-item:hover{
    background: #f7f7f7;
}
.header__notify-item--viewed{
    background: rgba(238, 75, 43, 0.08);
}

.header__notify-link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img{
    width: 48px;
}

.header__notify-ifo{
    flex: 1;
    margin-left: 1.2rem;
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text--color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-descriotion{
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756f6e;
    margin-top: 4px;
}
.header__notify-footer{
    display: flex;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text--color);
    padding: 8px;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}
/* authen modal*/
.auth-form{
    width: 500px;
    background-color: var(--while--color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container{
    padding: 0px 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text--color);
    cursor: pointer;

}

.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;

}

.auth-form__form{

}

.auth-form__group{

}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0px 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}
.auth-form__input:focus{
    border-color: rgb(255, 196, 221);
    border: 2px solid;
}

.auth-form__aside{
    margin-top: 18px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0px 12px;
}

.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);

}
.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end ;
}
.auth-form__controls-back{
    margin-right: 8px;
    margin-bottom: 24px;
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
}
.auth-form__socials-icon{
    font-size: 1.8rem;
}
.auth-form__socials--facebook{
    color: var(--while--color);
    background-color: #3A5A98;
}

.auth-form__socials--facebook,
.auth-form__socials-icon-face{
    color: var(--while--color);
}
.auth-form__socials-icon-gg{
    color: #000;
}

.auth-form__socials--google{
    background-color: var(--while--color);
    color: #666;
}
.auth-form__socials-title{
    margin: 0 36px;
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}
.auth-form__help-separate{
    display: block;
    margin: 0px 16px 0px;
    height: 22px;
    border: 1px solid var(--border-color);
}
.auth-form__link-forgot{
    color: var(--primary-color);
}
.header-width-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.header-logo{
    width: 200px;
}
.header-logo-link{
    color: transparent;
    text-decoration: none;
}
.header__logo-img{
    width: 150px;
    color: var(--while--color);
}
.header__search{
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--while--color);
    display: flex;
    align-items: center;
}
.header__cart{
    width: 150px;
    text-align: center;
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-icon{
    margin-top: 8px;
    color: var(--while--color);
    font-size: 2.4rem;
}

.header__cart-list{
    position: absolute;
    z-index: 1;
    top: calc(100% + 4px);
    right: 1px;
    background-color: var(--while--color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.2);
    display: none;
    animation: fadein ease-in 0.2s;
    cursor: default;
}
.header__cart-list::after{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 3px;
    top: -22px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--while--color)  transparent;
}
.header__cart-list--no-cart .header__cart-list--no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.header__cart-list--no-cart-img{
    width: 54%;
    display: none;
}
.header__cart-list-no-cart-msg{
    margin-top: 14px;
    display: none;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text--color);
}
.header__cart-wrap-notice{
    position: absolute;
    padding: 1px 6px;
    top: -1px;
    right: -5px;
    font-size: 1.4rem;
    line-height: 1.2rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
    color: var(--primary-color);
    background-color: var(--while--color);
}
.header__cart-list--no-cart{
    padding: 24px 0px;
}
.header__search-input-wrap{
    flex: 1;
    height: 100%;
}
.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text--color);
    padding:  0 16px;
    border-radius: 2px;
}
.header__search-select{
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
}
.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text--color);
}
.header__search-select-icon{
    font-size: 1.4rem;
    color: #a1a0a0;
    margin: 0px 16px 0 8px;
    position: relative;
    top: 1px;  
}
.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}
.header__search-btn:hover{
    background-color: #e67b65;
    cursor: pointer;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--while--color);
}
.header__search-select:hover .header__search-option{
    display: block;
}
.header__search-option{
    position: absolute;
    z-index: 1;
    right: 0;
    top: calc( 100% - 1px);
    list-style: none;
    width: 143px;
    box-shadow: 0 1px 2px #ccc;
    padding-left: 0;
    border-radius: 2px;
    margin-top: 14px;
    overflow: hidden;
    display: none;
}
.header__search-select::after{
    content: "";
    width: 100%;
    height: 30px;
    position: absolute;
    left: -10px;
    top: 80%;
    padding-right: 10px; 
}

.header__search-select-option-item{
    background-color: var(--while--color);
    padding: 8px 8px; 
}
.header__search-select-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__search-select-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.header__search-select-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-select-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;   
}
.header__search-select-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}
.header__search-select-option-item--active i{
    display: inline-block;

}
.header__search-input-wrap{
    position: relative;
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}
.header__search-history{
    position: absolute;
    z-index: 1;
    top: calc(100% + 2px);
    left: 0px;
    width: calc(100% - 16px);
    background-color: var(--while--color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(214, 214, 214);
    display: none;
}
.header__search-history-heading{
    margin: 6px 12px ;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__search-history-list{
    padding: 0px;
    list-style: none;
    margin: 6px 0px 0px;
}
.header__search-history-item{
    height: 38px;
    padding:  0 12px;
    cursor: pointer;
}
.header__search-history-item:last-child{
    border-radius: 2px;
}
.header__search-history-item:hover{
    background-color: #fafafa;
}
.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

/* cart list item */
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    height: 56vh; // vh theo tỉ lệ trình duyệt
    overflow-y: auto;
}

.header__cart-item{
    display: flex;
    align-items: center;
}
.header__cart-item:hover{
    background-color: #F8F8F8;    
}

.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 2px solid var(--border-color);
}

.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name{
    font-size: 1.4rem;
    line-height: 2rem;
    flex: 1;
    padding-right: 16px;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 500;
    color: var(--text--color);
    margin: 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply{
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-quantity{
    color: #757575;
    font-weight: 500;
    font-size: 1.2rem;
}

.header__cart-body{
    display: flex;
    justify-content: space-between;
}

.header__cart-item-desciption{
    color: #757575;
    color: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove{
    color: var(--text--color);
    color: 1.4rem;
    font-weight: 500;
}
.header__cart-item-remove:hover{
    cursor: pointer;
    background-color: var(#757575);
}
.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}
.header__cart-view-cart:hover{
    background-color: #f05d41;
}
/* app container */
.app__container{
    background-color: #f5f5f5;
}
.app-content{
    padding-top: 36px;
}
.category{
    background-color: var(--while--color); 
    border-radius: 2px;
}
.category__heading{
    color: var(--text--color);
    font-size: 1.7rem;
    padding: 12px 16px;
    margin-top: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    /* thuộc tính biến thành chữ in */
    text-transform: uppercase;
    font-weight: 400;
}
.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}
.category-list{
    padding: 0 0 8px 0 ;
    list-style: none;
    margin-left: 12px;
}
.category-item{
}
.category-item--active .category-item__link{
    color: var(--primary-color);
}
.category-item--active .category-item__link::before{
    content: "";
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    transform: translateY( -50% );
    left: 7px;
}

.category-item__link{
    position: relative;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text--color);
    display: block;
    padding: 6px 16px;
    transition: right linear 0.1s ;
    right: 0;
}
.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}

/* home sort + filter */
.home-filter{
    background-color: rgba(0,0,0,0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.home-filter__label{
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}
.home-filter__btn{
    margin-right: 12px;
    min-width: 90px;
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-num{
    font-size: 1.5rem;
    color: var(--text--color);
    margin-right: 22px;
}
.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-btn{
    flex: 1;
    background-color: var(--while--color);
    display: flex;
    text-decoration: none;
}
.home-filter__page-btn--disabled{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #ccc;
}

.home-filter__page-btn:first-child{
    border: 1px solid #eeee;
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555
}
/* product item */
.home-product{
    margin-bottom: 10px;
}
.home-product-item{
    display: block;
    position: relative;
    text-decoration: none;
    margin-top: 10px;
    background-color: var(--while--color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}
.home-product-item:hover{
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.05);
    transform: translateY(-1px);
}
.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.home-product-item__name{
    margin: 10px 10px 6px;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text--color);
    line-height: 1.8rem;
    /* tên sản phẩm quá dài sẽ bị cắt đi */
    height: 3.6rem;   
    overflow: hidden;
    /* tạo dấu ba chấm cuối dòng 2 */
    display: block;
    display: -webkit-box;
    /*  chỉ hỗ trợ 1 số trình duyệt */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.home-product-item__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item__price-old{
    font-size: 1.2rem;
    color: #666;
    margin-left: 10px;
    /* dấu gạch bỏ giá tiền */
    text-decoration: line-through;
}
.home-product-item__price-current{
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action{
    display: flex;
    margin: 6px 10px 0;
    justify-content: space-between;
}
.home-product-item__like{
    font-size: 1.3rem;
}
/* nếu không có i thì hắn yếu nên css bị đè */
i.home-product-item__like-icon-fill{
    display: none;
    color: #f53e2d;
}
/* bỏ home-product-item__like--liked thì sẽ về mặc định thêm vào thì ra đỏ  */
.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}
.home-product-item__rating{
    font-size: 1rem;
    /* làm cho ngôi sao nhỏ đi */
    transform: scale(0.8);
    /* ngôi sao nhỏ hắn xảy ra vấn đề sẽ bị dịch vào trong */
    /*  fix bằng transform-origin */
    transform-origin: right;
    color: #d5d5d5 ;
    margin: -1px 0 0 auto;
}
.home-product-item__star--gold{
    color: var(--star-gold-color);
}
.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text--color);
    margin-left: 6px;
}
.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 4px 10px 0px;
    font-weight: 300;
    color: #595959;
    font-size: 1.2rem;
}
.home-product-item__origin-name{
}
/* currentcolor: keyw của css các css con sẽ ăn theo màu của thằng cha */
.home-product__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    /* đổi màu nhãn dán đổi color các cái khác ăn theo và cái sudo giải cx sẽ y màu */
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
/* tạo cái mép gấp của nhãn dán */
.home-product__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent ;
    filter: brightness(60%);
}
.home-product__favourite span{
    color: var(--while--color);
}
.home-product__favourite i{
    color: var(--while--color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}
.home-product-item__sale-off{
    position: absolute;
    width: 40px;
    height: 36px;
    right: 0;
    top: 0;
    background-color: rgba(255,216,64,0.94);
    text-align: center;
}
.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 20px 5px;
    border-style: solid;
    border-color:  red rgba(255,216,64,0.94) transparent rgba(255,216,64,0.94);
}
.home-product-item__sale-off-percent{
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: 2px;
}
.home-product-item__sale-off-lable{
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--while--color);
    font-weight: 600;
    position: relative;
    top: -1px;
}




